<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title / Ecommerce</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/scripts/global.js"></script>
    @RenderSection("Scripts")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Manage Ecommerce", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="~/home/index/">Download</a></li>
                    <li><a href="~/products/index/">Products</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="divMain" data-ng-app="prodApp" data-ng-controller="productController" class="container-fluid body-content">
        <div class="alert alert-success collapse msg" role="alert">
            <h4>{{ msg }}</h4>
        </div>
        <div class="alert alert-danger error collapse" role="alert">
            <h4>{{ error }}</h4>
        </div>
        <div id="divLoading" class="collapse">
            <img src="~/Images/ajax-loader.gif" style="width:200px;" class="ajax-loader" />
        </div>

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Tech Star Apps</p>
        </footer>
    </div>

</body>
</html>